{% extends request.ajax ? "layout_blank.html.twig" : "layout_default.html.twig" %}

{% block meta_title %}{{ 'Example module'|trans }}{% endblock %}

{% set active_menu = 'example' %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Example module for developers</h3>
    </div>
    <!-- First card -->
    <div class="card-body">
        <p>{{ 'This is an example module.'|trans }}</p>
        <ul>
            <li><a href="{{ 'example'|alink }}">Example module index</a></li>
            <li><a href="{{ 'extension/settings/example'|alink }}">Example settings page</a></li>
            <li><a href="{{ 'example'|alink }}/test">Test link with static URL</a></li>
            <li><a href="{{ 'example'|alink }}/user/1">Test link location with parameter 1</a></li>
            <li><a href="{{ 'example'|alink }}/user/2">Test link location with parameter 2</a></li>
            <li><a href="{{ 'example'|alink }}/user/3">Test link location with parameter 3</a></li>
            <li><a href="{{ 'example'|alink }}/api">API example</a></li>
            <li><a href="{{ 'example'|link }}" target="_blank">Client area link example</a></li>
        </ul>
    </div>

    <div class="card-header">
        <h3>Permission tests</h3>
    </div>
    <div class="card-body">
        <p>Check if you have permission to do "something"</p>
        <button class="btn btn-primary" onclick="checkCanDoSomething();">Check</button>

        <p>Check if you are assigned a specific option from a "select" permission type.</p>
        <select id="check-against">
            <option value="value_1">Value 1</option>
            <option value="value_2">Value 2</option>
            <option value="value_3">Value 3</option>
        </select>
        <button class="btn btn-primary" onclick="checkConstraintPermission();">Check</button>
    </div>

    {# Check if example parameters passed to the template file #}
    {% if youparamname %}
    <div class="card-header">
        <h5>{{ 'Parameters from Controller'|trans }}</h5>
    </div>
    <div class="card-body">
        <p>You have passed parameter youparamname: <strong>{{ youparamname }}</strong></p>
    </div>
    {% endif %}

    {# Check if example parameters passed to the template file #}
    {% if userid %}
    <div class="card-header">
        <h5>{{ 'Parameters from URL'|trans }}</h5>
    </div>
    <div class="card-body">
        <p>You have passed parameter userid: <strong>{{ userid }}</strong></p>
    </div>
    {% endif %}

    {% if api_example %}
    {# API example #}
    <div class="card-header">
        <h5>{{ 'API example'|trans }}</h5>
    </div>
    <div class="card-body">
        <h5 class="pt-2">Data from API and passed to the template from the controller</h5>
        <pre>{{ dump(list_from_controller) }}</pre>

        <h5 class="pt-2">Data from API accessed directly from the template file</h5>
        {% set list = admin.example_get_something({"microsoft":1}) %}
        <pre>{{ dump(list) }}</pre>
    </div>
    {% endif %}

    <!-- Second card -->
    <div class="card-header">
        <h5>{{ 'README'|trans }}</h5>
    </div>
    <div class="card-body markdown">
        {{ guest.example_readme | markdown }}
    </div>
</div>

<script>
    // Send a request to the backend and ask if the staff member has the `do_something` permission key.
    function checkCanDoSomething() {
        API.admin.post('example/can_do_something', {}, function(result) {
            FOSSBilling.message('Great, you did something!');
        },
        function(result){
            FOSSBilling.message(result.message, 'error');
        });
    };

    // Use the API to check and see if the staff member has a specifc permission constraint under the `a_select` key.
    function checkConstraintPermission() {
        var e = document.getElementById('check-against');
        API.admin.post('example/check_select', { constraint: e.value }, function(result) {
            FOSSBilling.message('You do have that permission');
        },
        function(result){
            FOSSBilling.message('You do not have that permission', 'error');
        });
    };
</script>
{% endblock %}
